@import-normalize;

body {
  margin: 0;
}
#intro {
  height: 75vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  font-size: large;
  background-color: #333333;
  color: white;
}

.greeting {
  height: 100%;
  border: 1px lightblue solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
